--extra-index-url https://download.pytorch.org/whl/cu118
deep-audio-features
imblearn
librosa
matplotlib
polars
pre-commit
torch
torchaudio
torchvision
tqdm
sqlalchemy==2.0.30
mysqlclient==2.2.4
pandas==2.2.2
